mixin valuechain_icons_list(categories, list, company, event, share)
	- for (var i = 0; i<categories.length; i++)
		.valuechain_use
			.valuechain_icon
				.text #{categories[i].tw}
				.circle_after
					.circle
						div(class="sprite sprite_#{categories[i].en}")
			//- .valuechain_list(class=company?"":"valuechain_list_nolong")
			.valuechain_list
				//- Neil_20141027: it seems a bug.
				//- ul(class=company?"":"ul_event")(class=share?"ul_share":"")
				ul(class="#{company? '': 'ul_event'} #{share? 'ul_share': ''}")
					- if (company)
						- for (var j = 0; j < list[i].length; j++) 
							-if(typeof(list[i][j].fullname) != 'undefined' && list[i][j].fullname.length != 0)
								a(href="/member/#{list[i][j]._id}")
									li
										img(src="../uploads/#{list[i][j]._id}_logo", onload="fitDivEvent(event);")
					- else
						- for (var j = 0; j < list[i].length; j++) 
							li(class="#{event? 'li_event': 'li_link'}")
								- if (event)
									.month 
										|#{list[i][j].day}
										br
										|#{list[i][j].month}
									span
										//- a.link(href="/event/#{list[i][j]._id}") #{list[i][j].title}
										a.link(href="#{list[i][j].url}" target="_blank") #{list[i][j].title}
									.postby 
										a(href="/member/#{list[i][j].member}") (由#{list[i][j].fullname}提供)
								-else
									span
										a.link(href="#{list[i][j].url}" target="_blank") #{list[i][j].title}
									.postby 
										a(href="/member/#{list[i][j].member}") (#{list[i][j].dayUse}，由#{list[i][j].fullname}提供)
//- mixin valuechain_icons(categories)
//- 	- for (var i = 0; i<categories.length; i++)
//- 		.valuechain_icon
//- 			.sprite(class="sprite_#{categories[i].img}")
//- 			.text !{categories[i].des}
//- 			if(i==0)
//- 				.circle
//- 			else
//- 				.circle
//- 					.circle_after
//- 				.text !{categories[i].des.split(' ').join('<br/>')}
//- mixin valuechain_list(list)
//- 	.page
//- 		- for (var i = 0; i < list.length; i++)
//- 			.valuechain_list
//- 				ul
//- 					- for (var j = 0; j < list[i].length; j++) 
//- 						- if (typeof(list[i][j].link)!='undefined' && list[i][j].link != 'none')
//- 							a(href="#{list[i][j].url}")
//- 								li
//- 									img(src="#{list[i][j].link}")
//- 						- else
//- 							a(href="#{list[i][j].url}")
//- 								li #{list[i][j].title}
//- mixin valuechain_wait_list(list)
//- 	.page
//- 		- for (var i = 0; i < list.length; i++)
//- 			.will_add_line
//- 				|即將加入
//- 				ul
//- 					- for (var j = 0; j < list[i].length; j++) 
//- 						a(href="#{list[i][j].url}")
//- 							li #{list[i][j].title}

mixin valuechain_companies(categories, list)
	.valuechain#valuechain_member
		.title 
			span 成員
		.page
			+valuechain_icons_list(categories, list, true, false, false)

mixin valuechain_link(categories, list)
	.valuechain#valuechain_link
		.title 
			span 觀點、轉貼
		.page
			+valuechain_icons_list(categories, list, false, false, true)

mixin valuechain_events(categories, list)
	.valuechain#valuechain_event
		.title 
			span 活動、資源
		.page
			+valuechain_icons_list(categories, list, false, true, false)

