extends layout

block body_content
	.page
		h2 現有會員（企業用戶）列表
		table.simple_table
			tr
				th(style="width: 20px")
				th(style="width:200px") 會員帳號
				th(style="width:200px") 會員顯示名稱
				th(style="width:200px") 分類
				th(style="width:50px")  排序優先權
				th(style="width:150px") 功能
			- each user, index in ctrl_users
				tr
					td(style="text-align: right;") #{index + 1}
					td #{user.name}
					td #{user.fullname}
					td #{GLOBAL.CATEGORY[user.category]['tw']}
					td
						-var priority = (typeof(user.priority)!='undefined')?user.priority:0
						input.update_priority(style="text", name="priority", value="#{priority}", data-edit-id="#{user._id}")
						button.ui_button.update_priority_button(data-edit-index=index) 儲存
					td(style="text-align: center")
						button.ui_button.edit_member(data-edit-id="#{user._id}" data-edit-index=index) 編輯
						button.ui_button.delete(data-delete-id="#{user._id}") 刪除
		hr
		form.simple_form(action="/resource/member" method="post")
			h2 新增會員（企業用戶）
			.line
				label(for="name") 會員帳號：
				input(type="text", name="name")
			.line
				label(for="password") 會員密碼：
				input(type="text", name="password")
			.line
				button.ui_button(type="submit") 新增
		div#dialog_update_member(title="編輯帳號")
			form#form_dialog_update_member(method="post", action="" enctype="multipart/form-data")
				.line
					label(for="password") 會員新密碼：
					input#member_password(type="text", name="password")
				.line
					label(for="password") 會員新密碼再次確認：
					input#member_password_check(type="text", name="password_check")
	script.
		var ctrl_users = !{JSON.stringify(ctrl_users)};

		$(".delete").click(function(){
			var id = $(this).attr("data-delete-id");
			$.ajax({
				url: '/resource/member/'+id,
				type: 'DELETE',
				success: function(result) {
					location.reload();
				}
			});
		});
		$(".update_priority_button").click(function(){
			var index = $(this).attr("data-edit-index");
			
			var id = $(".update_priority").eq(index).attr("data-edit-id");
			var value = $(".update_priority").eq(index).val();
			$.ajax({
				url: '/resource/member/'+id,
				data: JSON.stringify({ "priority": value }),
				type: 'POST',
				'contentType': 'application/json',
				success: function(result) {
					location.reload();
				}
			});
		});
		$(".edit_member").click(function(){
			var id = $(this).attr("data-edit-id");
			console.log(id);
			location.href = '/member/'+id;
		});

		