extends layout

block body_content
	.page_use
		#demo


	script.

		$(function(){
			var dataSet = !{JSON.stringify(ctrl_crs_all)};
			var dataSet1 = !{JSON.stringify(ctrl_crs_1)};
			var dataSet2 = !{JSON.stringify(ctrl_crs_2)};
			var dataSet3 = !{JSON.stringify(ctrl_crs_3)};
			var dataSet4 = !{JSON.stringify(ctrl_crs_4)};
			var dataSet5 = !{JSON.stringify(ctrl_crs_5)};
			var dataSet6 = !{JSON.stringify(ctrl_crs_6)};
			var dataSet7 = !{JSON.stringify(ctrl_crs_7)};
			var dataSet8 = !{JSON.stringify(ctrl_crs_8)};
			var dataSet9 = !{JSON.stringify(ctrl_crs_9)};
			var dataSet10 = !{JSON.stringify(ctrl_crs_10)};

			var htmlUse = '<h1>全區</h1><table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>';
			for(var i = 1; i< 11; i++){
				htmlUse = htmlUse + '<h1>第'+i+'區</h1><table cellpadding="0" cellspacing="0" border="0" class="display" id="example'+i+'"></table>';
			}
			
			$('#demo').html(htmlUse);
			$('#example').dataTable({
				"data": dataSet,
				"iDisplayLength": dataSet.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example1').dataTable({
				"data": dataSet1,
				"iDisplayLength": dataSet1.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example2').dataTable({
				"data": dataSet2,
				"iDisplayLength": dataSet2.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example3').dataTable({
				"data": dataSet3,
				"iDisplayLength": dataSet3.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example4').dataTable({
				"data": dataSet4,
				"iDisplayLength": dataSet4.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example5').dataTable({
				"data": dataSet5,
				"iDisplayLength": dataSet5.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example6').dataTable({
				"data": dataSet6,
				"iDisplayLength": dataSet6.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example7').dataTable({
				"data": dataSet7,
				"iDisplayLength": dataSet7.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example8').dataTable({
				"data": dataSet8,
				"iDisplayLength": dataSet8.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example9').dataTable({
				"data": dataSet9,
				"iDisplayLength": dataSet9.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
			$('#example10').dataTable({
				"data": dataSet10,
				"iDisplayLength": dataSet10.length,
				"width": '100%',
				"columns": [
					{ "title": "名字" },
					{ "title": "得票率" },
					{ "title": "是否當選" },
					{ "title": "1/4分數" },
					{ "title": "1/4分數(倒扣)" },
					{ "title": "1/4分數加權" },
					{ "title": "1/4分數加權(倒扣)" },
					{ "title": "1/3分數" },
					{ "title": "1/3分數(倒扣)" },
					{ "title": "1/3分數加權" },
					{ "title": "1/3分數加權(倒扣)" }
				]
			});
		});