extends layout

block body_content
	.page
		ul
			- for plat_cr in ctrl_plat_crss
				li(style="font-size:1.2em") 政見：#{plat_cr.plat.plat_origin}
				li(style="font-size:1.2em; color: #f00") 達成率＿＿＿＿＿：#{plat_cr.ac}
				//- li(style="font-size:1.2em; color: #f00") 達成率（前三排）：#{plat_cr.ac_tc}
				li.last
			- for plat_cr in ctrl_plat_crss
				li(style="font-size:2em") #{plat_cr.plat.cr_name}議員
				li.plat(style="font-size:1.5em" data-plat_cr_id="#{plat_cr._id}" data-plat="#{plat_cr.plat.plat_origin}" data-cr_name="#{plat_cr.plat.cr_name}") 政見：#{plat_cr.plat.plat_origin}
				li(style="font-size:1.5em; color: #f00") 達成率＿＿＿＿＿：#{plat_cr.ac}
				//- li(style="font-size:1.5em; color: #f00") 達成率（前三排）：#{plat_cr.ac_tc}
				ul(id="my_sort_"+"#{plat_cr._id}")
					-for news in plat_cr.bills_list
						- if(news.cor_value>0)
							li(style="font-size:1em") #{news.bill.ori_abs}
							li(style="font-size:1.2em; color: #00f") 分數：#{news.cor_value}
							//- li.last(style="font-size:1.2em; color: #f0f") match term : #{news.match_term}
							li.last
				//- ul.self_sort 我的排序(新聞前三排)
				//- 	-for news in plat_cr.news_list
				//- 		- if(news.cor_value_tc>0)
				//- 			li(style="font-size:1em") #{news.news.parse_url_name}
				//- 			li(style="font-size:1.2em; color: #00f") 分數：#{news.cor_value_tc}
				//- 			li.last(style="font-size:1.2em; color: #f0f") match term : #{news.match_term_tc}
				//- 			//- li.last
				//- ul.self_sort(id="plat_cr_"+plat_cr._id) solr 搜尋結果

	//- script.

	//- 	$(function(){
	//- 		var plat_arr = $('.plat');
	//- 		$.each(plat_arr, function(i, plat){
	//- 			var id = $(plat).data("plat_cr_id");
	//- 			var plat_origin = $(plat).data("plat");
	//- 			var cr_name = $(plat).data("cr_name");
	//- 			var count = $("#my_sort_"+id).children(".plat_chil").length;
	//- 			var url = 'http://localhost:8983/solr/newslist/select?q=story%3A'+plat_origin+'+crname%3A"'+cr_name+'"&wt=json&json.wrf=?&indent=true&fl=*,score&rows='+count;
	//- 			$.getJSON(url, function(result){
	//- 				html = "";
	//- 				for (var i =0; i< result.response.docs.length; i++){
	//- 					html = html+"<li style='font-size:1em'>"+result.response.docs[i].title+"</li>";
	//- 					html = html+"<li style='font-size:1.2em; color: #00f'>solr 分數："+result.response.docs[i].score+"</li>";
	//- 					html = html+"<li class='last'></li>";
	//- 					//- html = html+"<li class='last'></li>";
	//- 				}
	//- 				$("#plat_cr_"+id).append(html);
	//- 			});
	//- 		});
	//- 	});